{% extends 'djassa/djassaman/base.html' %}

{% block titre %}
    Enregistrer une demande
{% endblock %}

{% block content %}
<div class="container  min-h-screen flex items-center justify-center bg-white">
    <div class="w-full max-w-md p-8 bg-gray-100 border border-gray-300 rounded-xl shadow-md">
        <h1 class="text-3xl font-semibold text-center text-black mb-6">Choisissez une catégorie</h1>

        <ul class="space-y-4">
            {% for categorie in categories %}
                <li>
                    <a href="{% url 'voir_demandes' categorie %}"
                       class="block w-full text-center py-3 px-4 bg-gray-300 hover:bg-gray-400 text-black text-lg rounded-md font-medium transition duration-200">
                        {{ categorie }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
